<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        html {
            zoom: 0.5;
        }
    </style>
</head>

<body>
    <table style="width: 100%" style="border: 1px solid black">
        <thead>
            <center>
                <h3 style="border: 1px solid black">Wallet Transactions</h3>
            </center>
        </thead>
        <tbody>
            <tr>
                <th style="border: 1px solid black">S no.</th>
                <th style="border: 1px solid black">Reason</th>
                <th style="border: 1px solid black">Date</th>
                <th style="border: 1px solid black">Commision Recieved</th>
            </tr>
            <% data.rows.forEach((data, index)=> { %>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">
                        <%= index + 1%>
                    </td>
                    <td style="border: 1px solid black; padding: 5px">
                        <%= data.dataValues.Reason  %>
                    </td>
                    <td style="border: 1px solid black; padding: 5px">
                        <%= data.dataValues.date  %>

                    </td>
                    <td style="border: 1px solid black; padding: 5px">
                        <%= data.dataValues.my_commission_amount  %>

                    </td>
                </tr>
                <%} ) %>
        </tbody>
    </table>
</body>

</html>