<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create Testimonial</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/admin/get-testimonials">Testimonial list</a>
                        </li>
                        <li class="breadcrumb-item active">Create Testimonial</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Candidate</h3>
                </div>

                <div>
                    <% if(message != '') { %>
                        <div class="p-3">
                            <div class="alert mb-0" style="
                background-color: rgb(141, 228, 141);
                border: none;
                color: rgb(2, 120, 28);
              " role="alert">
                                <%= message %>
                            </div>
                        </div>

                        <% } else if(error != ''){ %>
                            <div class="p-3">
                                <div class="alert alert-dismissible mb-0" style="
                background-color: rgb(237 183 183);
                border: none;
                color: rgb(120 2 2);
              " role="alert">
                                    <%= error %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                                </div>
                            </div>

                            <% } %>
                </div>
                <form method="post" action="/admin/create-testimonials" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Name" value=" " />
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <label>Upload Image</label> <br />
                                    <input type="file" name="image">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <label>Message</label>
                                    <textarea rows="6" type="text " class="form-control " name="message" placeholder="Message " value=" "></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="state-dropdown" name="state_id">
                                        <option value="">Select State</option>
                                        <% statedata.forEach((state) => { %>
                                        <option value="<%= state.id %>"><%= state.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control select2bs4" style="width: 100%;" id="city-dropdown" name="city_id">
                                        <option value="">Select City</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <button type="submit " class="btn btn-sm btn-primary ">Submit</button>
                        </div>
                </form>
                </div>
            </div>
    </section>
    </div>