<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
        <img src="../../../../assets/images/admin/hjLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
        <span class="brand-text font-weight-light">Home</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!--  menu-is-opening menu-open -->
                <li id="treeview-sidebar" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Masters
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/industry/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Industry</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- active -->
                            <a href="/admin/sector/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sector</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/education_data" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Education Data</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/SkillCategory" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>SkillCategory</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/SkillSubCategory" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>SkillSubCategory</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/service-category" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Service Category</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/admin/show-specialization" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Specialization</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Users
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/company" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Company</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/candidate" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Candidate</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/service-provider" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Service Provider</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/service-seeker" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Service Seeker</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/miscellaneous-roles" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Business Partner</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/unapproved-business-partner-roles" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>UnApproved Business Partner</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Subscriptions
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/subscription-plans" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Subscription Plans</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Local Hunar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/local-Hunar" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Local Hunar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/local-hunar-videos/pending-permissions" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pending Permissions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/local-hunar-videos/active-permissions" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Active Video Permissions</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Wallet Settlements
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/pending-payment-requests" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pending Payments</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/active-payment-requests" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Active Payments</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/wallet-transaction" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Wallet Transaction</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/business-partner-transaction-history" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bill Claim</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Notifications
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/send-notification" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Send Notification</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Accounts Status
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/account/active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Active Accounts</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/account/inactive" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inactive Accounts</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/admin/download-submitted-resumes" class="nav-link">
                        <p>Download Submitted Resumes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/get-job-post-govt" class="nav-link">
                        <p>Post Govt Jobs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/company/get-all-job-post" class="nav-link">
                        <p>Private Jobs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/get-testimonials" class="nav-link">
                        <p>Testimonials</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/static-data" class="nav-link">
                        <p>Static Data</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/change-password" class="nav-link">
                        <p>Change Password</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/logout" class="nav-link">
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</aside>